# App
NEXT_PUBLIC_APP_NAME=Kober Shifts
APP_URL=http://localhost:3000

# MySQL (Docker Compose - Development)
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3309
MYSQL_DATABASE=kober_shifts
MYSQL_USER=kober_user
MYSQL_PASSWORD=kober_password
MYSQL_ROOT_PASSWORD=root_password

# MySQL (Docker Compose - Production)
# MYSQL_HOST=mysql
# MYSQL_PORT=3306
# MYSQL_DATABASE=kober_shifts
# MYSQL_USER=kober_user
# MYSQL_PASSWORD=kober_password

# Mongo (Docker Compose - Development)
MONGO_HOST=127.0.0.1
MONGO_PORT=27020
MONGO_DATABASE=kober_shifts
MONGODB_URI=mongodb://127.0.0.1:27020/kober_shifts

# Mongo (Docker Compose - Production)
# MONGODB_URI=mongodb://mongodb:27017/kober_shifts

# Auth
AUTH_SECRET=change_me_dev_only

# SMTP (emails)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Kober Shifts <no-reply@example.com>"

# Google OAuth (Calendar API + Store login)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
GOOGLE_STORE_REDIRECT_URI=http://localhost:3000/api/store/auth/google/callback

# NextAuth (Store y plataforma)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=


