@import "tailwindcss";
@config "../tailwind.config.js";
@source "../node_modules/@heroui/theme/dist/";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: var(--font-inter), sans-serif;
}

.font-primary {
  font-family: var(--font-montserrat), sans-serif;
}

/* Global box-sizing */
* {
  box-sizing: border-box;
}

/* Animaciones personalizadas */
@keyframes fadeIn {
  .link-danger {
    @apply text-red-500 hover:text-red-600 transition-colors duration-150;
  }
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(10px);
    opacity: 0;
    section[role="dialog"].custom-dialog {
      border-radius: 0;
      margin: 0;
      overflow: scroll;
    }

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.animate-slide-up {
  animation: slideUp 0.3s ease-out;
}

.gradient-nodo {
  background-image: linear-gradient(135deg, #1A237E 0%, #1497B5 50%, #26A69A 100%);
}

.bg-nodo {
  background-color: #ffffff;
  background-image: url('/p-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button {
  @apply transition-all duration-300 ease-in-out flex items-center justify-center gap-2 rounded-lg py-3 px-6 text-base font-medium cursor-pointer;
}
.button-primary {
  @apply text-white bg-[#1A237E] hover:bg-[#1497B5] hover:shadow-lg;
}
.button-secondary {
  @apply text-white bg-[#1497B5] hover:bg-[#1A237E] hover:shadow-lg;
}
.button-tertiary {
  @apply text-white bg-[#26A69A] hover:bg-[#1497B5] hover:shadow-lg;
}
.button-quaternary {
  @apply text-white bg-[#1A237E] hover:bg-[#1497B5] hover:shadow-lg;
}
.button-danger {
  @apply text-white bg-red-500 hover:bg-red-600 hover:shadow-lg;
}
.button-warning {
  @apply text-white bg-yellow-500 hover:bg-yellow-600 hover:shadow-lg;
}
.button-success {
  @apply text-white bg-green-500 hover:bg-green-600 hover:shadow-lg;
}
.button-info {
  @apply text-white bg-blue-500 hover:bg-blue-600 hover:shadow-lg;
}

.link-danger {
  @apply text-red-500 hover:text-red-600 transition-colors duration-150;
}

.card {
  @apply p-6 bg-white shadow-sm rounded-lg;
}

@media (max-width: 640px) {
  section[role="dialog"].custom-dialog {
    min-height: 100dvh;
    border-radius: 0;
    margin: 0;
    overflow: scroll;
  }
  section[role="dialog"].custom-dialog button[aria-label="Close"] {
    display: none;
  }
  section[role="dialog"].custom-dialog footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}